fastapi>=0.115.0
uvicorn>=0.32.0
yt-dlp
selenium>=4.25.0
webdriver-manager>=4.0.2
undetected-chromedriver>=3.5.5
setuptools
mutagen>=1.47.0
Pillow>=11.0.0
jinja2>=3.1.4
python-multipart>=0.0.12
aiofiles>=24.1.0
python-dotenv>=1.0.1
